<div class="header">

  <div class="logo">
    <h1>E-Mail Qualitätschecker</h1>
  </div>

  <div class="options">
    <select aria-label="Default select" >
      <option selected routerLink="" >Check E-Mail</option>
      <option value="1" routerLink="/advance"> Advance</option>
      <option value="2" routerLink="/checkEMailType" >Check Type</option>
      <option value="3" routerLink="/Code-Snippets" >Code-Snippets</option>
      <option value="4" routerLink="/editor" >Editor</option>
    </select>
  </div>
</div>