.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #bebbbe;
    padding: 0;
    margin-bottom:20px ;
}
h1{
    margin: 15px 0;
    color:#b9211c
}
.logo{
    flex-grow: 1;
    padding: 0 20px;
}
.options{
    flex-grow: 1;
    padding: 0 20px;
    display: flex;
    justify-content: end;
}

.option{
    background-color: #b9211c;
    padding: 4px;
    margin: 5px;
    border-radius: 4px;
    color: #bebbbe;
    text-decoration: none;
    font-weight: 600;
}
.option:hover{
    background-color: #7f201d;
    transition: 1s;
}