.fixe-btn {
  padding: 10px 20px;
  background-color: #2aa74d;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: 10px 0;
}

.fixe-btn:hover {
  background-color: #218838;
}
.code-field.mat-form-field {
  margin-top: 15px;
}

.code-field textarea.mat-input-element {
  font-size: 14px;
  background-color: #f7f9fc;
  border-radius: 6px;
  padding: 12px;
  line-height: 1.5;
  color: #2d2d2d;
  resize: vertical;
}

.code-field .mat-form-field-label {
  font-weight: 500;
  color: #333;
}

.full-width {
  width: 100%;   
}
