.fixe-btn {
  padding: 10px 10px;
  background-color: #edc139;
  border: none;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: 10px;
}

.upload{
  background-color: #18181b;
  padding:10px;
  border-radius: 5px;
  border: 2px solid #228be6;
}

.fixe-btn:hover {
  background-color: #9c7d1f;
}
.code-field.mat-form-field {
  margin-top: 15px;
}

.code-field textarea.mat-input-element {
  font-size: 14px;
  background-color: #ffffff;
  border-radius: 6px;
  padding: 12px;
  line-height: 1.5;
  color: #2d2d2d;
  resize: vertical;
}

.code-field .mat-form-field-label {
  font-weight: 500;
  color: #333;
}

.full-width {
  width: 100%;   
}
