<div class="header">

  <div class="logo">
    <h1>E-Mail Qualitätschecker</h1>
  </div>

  <div class="options">
    <select aria-label="Navigation" [(ngModel)]="selectedRoute" (change)="deleteNotesAndErrors($event)" >
      <option value="" disabled selected style="color:white">Bitte auswählen...</option>
      <option value="checkEMail">Check E-Mail</option>
      <option value="Code-Snippets">Code-Snippets</option>
      <option value="docu">Info</option>
    </select>
  </div>
</div>