<div class="header">

  <div class="logo">
    <h1>E-Mail Qualitätschecker</h1>
  </div>

  <div class="options">
    <select aria-label="Default select" (change)="deleteNotesAndErrors($event)" >
      <option selected value="/checkEMail"  >Check E-Mail</option>
      <option value="/advance" > Advance</option>
      <option value="/checkEMailType"  >Check Type</option>
      <option value="/Code-Snippets"  >Code-Snippets</option>
      <option value="/docu">Info</option>
    </select>
  </div>
</div>