.compnent{
    width: 100%;
    padding-bottom: 0;
    padding: 10px 20px;
}

.body{
    display:flex;
    flex-direction: row;
    padding: 20px 20px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.massage{
    width: 100%;
    padding:0 20px;
}
.massageTab{
  background-color: #18181b;
  padding:20px;
  border-radius: 5px;
  max-width: 1000px;
  margin: 20px auto;

}

@media screen and (max-width:760px){
    .body{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:1080px) {
    .massageTab{
        margin:20px 40px
    }
}

.upload{
  background-color: #18181b;
  padding:10px;
  border-radius: 5px;
  border: 2px solid #228be6;
}

app-file-upload{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    box-sizing: border-box;
}

.fixe-btn {
    padding: 10px 10px;
    background-color: #edc139;
    border: none;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin: 5px 10px;
    box-sizing: border-box;
}

.fixe-btn:hover{
    background-color:#cd9d0e ;
}

p{
    color: #a0a0b3;
    font-weight: 600;
    margin: 13px 15px ;
}

.btnCopy{
    background-color: #555555;
    color:black;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 2px 10px;
    font-size: 0.8rem;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    font-weight: 600;
}

.btnCopy:hover{
    background-color: #313131;
    transition: 1ms;
    color: white;
}

.divBtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding:0 20px;
    padding-top: 10px;
}
.notesArea{
    width: 590px;
    max-width: 100%;
    background-color: #18181b;
    margin:0px 10px;
    border-radius: 5px;
    color:#a0a0b3;
    position: relative;
}

.mat-mdc-simple-snack-bar{
  white-space: pre-line !important;
}

.noteItems li{
    padding-bottom: 5px
}

.btnClose{
  box-sizing: border-box;
  width: 20px !important;
  height: 20px!important;
  cursor: pointer;
  border:none;
  padding-right: 20px;
  padding-top: 5px;
  position: absolute;
  top:0;
  right: 0;
  background: none;
}

.btnClose i {
    color:#555555
}

.btnFileInfo{
    background-color: #555555;
    border: none;
    color:white;
    border-radius: 5px;
    cursor: pointer;
}