<div class="header">
    <div>
        <app-file-upload (file)="upload($event)"></app-file-upload>
    </div>
     <div class="notesArea">
        <div *ngIf="uploaded">
            <p style="color:white">Infos über die hochgeladen Datei</p>
            <ul style="color: white;">
                <li *ngIf="info.fileName"> Dateiname: {{info.fileName}}</li>
                <li *ngIf="info.fileSize"> Dateigröße: {{info.fileSize}}</li>
                <li *ngIf="info.template"> E-Mail-Template: {{info.template}}</li>
                <li *ngIf="info.fileName"> <button (click)="accordion()" > Bilder +</button>
                
                        <ul *ngIf="isVisible">
                            <li>
                                hier werde die bilder aufgelistet
                            </li>
                        </ul>       
                
                </li>
            </ul>
        </div>
    
  
    </div>
</div>

<div class="body">
    <div class="compnent">
        <div class="upload">
            <div class="divBtn">
                <div>
                    <!--<app-file-upload (file)="upload($event)"></app-file-upload>-->
                    <button class="fixe-btn" type="submit" (click)="fixeCode()"><i class="fa-solid fa-circle-check"></i> Code korrigieren</button>
                </div>
                <button class="btnCopy" (click)="copyCodeToClipboard('textarea')">Kopieren</button>
            </div>

            <div class="wrapper">
                <app-editor class="small" [content]="textarea" [emailType]="'normal'"></app-editor>
            </div>
        </div>
    </div>
   
    <div class="compnent">
        <div class="upload">
            <div class="divBtn">
                <p>Korrigierter Code</p>
                <button class="btnCopy" (click)="copyCodeToClipboard('correctedCode')">Kopieren</button>
            </div>
            <app-editor class="small" [content]="correctedCode" [emailType]="'normal'"></app-editor>
        </div>
        <!--<app-fixe-html></app-fixe-html>-->
    </div>
</div>
<div class="body massageTab">
    <div class="massage">
        <app-error-massage [errorMessage]="errors"></app-error-massage>
    </div>
    <div class="massage">
        <app-notes-massage [notesMassage]="notes"></app-notes-massage>
    </div>
</div>