<div class="header">
    <div>
        <app-file-upload (file)="upload($event)" (uploadDeleted)="uploadState($event)"></app-file-upload>
    </div>
    <div class="notesArea">
        <button *ngIf="uploaded" class="btnClose" (click)="deleteNotes()"><i
                class="fa-solid fa-square-xmark fa-lg"></i></button>


        <div *ngIf="uploaded">
            <p>Details zur hochgeladenen Datei</p>
            <ul class="noteItems">
                <li *ngIf="info.fileName"> <b>Dateiname:</b> {{info.fileName}}</li>
                <li *ngIf="info.fileSize"> <b>Dateigröße:</b> {{info.fileSize}}</li>
                <li *ngIf="info.template"> <b>E-Mail-Template: </b><span
                        style="color:#22bb35"><u>{{info.template}}</u></span></li>
                <li *ngIf="info.fileSize"> 
                    <button (click)="accordion()" class="btnFileInfo">Inhalte im ZIP anzeigen</button>
                    <ul *ngIf="isVisible">
                        <li>
                            Dateien im ZIP
                            <ul *ngIf="isVisible">
                                <li *ngFor="let file of zipFileData.file">
                                    {{file}}
                                </li>
                            </ul>
                        </li>
                        <li>
                            Bilder im ZIP
                            <ul *ngIf="isVisible">
                                <li *ngFor="let images of zipFileData.images">
                                    {{images}}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>


    </div>
</div>

<div class="body">
    <div class="compnent">
        <div class="upload">
            <div class="divBtn">
                <div>
                    <!--<app-file-upload (file)="upload($event)"></app-file-upload>-->
                    <button class="fixe-btn" type="submit" (click)="fixeCode()"><i class="fa-solid fa-circle-check"></i>
                        Code korrigieren</button>
                </div>
                <button class="btnCopy" (click)="copyCodeToClipboard('textarea')">Kopieren</button>
            </div>

            <div class="wrapper">
                <app-editor class="small" [content]="textarea" [emailType]="'normal'"></app-editor>
            </div>
        </div>
    </div>

    <div class="compnent">
        <div class="upload">
            <div class="divBtn">
                <p>Korrigierter Code</p>
                <button class="btnCopy" (click)="copyCodeToClipboard('correctedCode')">Kopieren</button>
            </div>
            <app-editor class="small" [content]="correctedCode" [emailType]="'normal'"></app-editor>
        </div>
        <!--<app-fixe-html></app-fixe-html>-->
    </div>
</div>
<div class="body massageTab">
    <div class="massage">
        <app-error-massage [errorMessage]="errors"></app-error-massage>
    </div>
    <div class="massage">
        <app-notes-massage [notesMassage]="notes"></app-notes-massage>
    </div>
</div>