.body{
    display: flex;
    flex-direction: row;
    padding:30px 20px;
    box-sizing: border-box;
}

.container{
    width: 100%;
}

.component{
    width: 100%;
    padding: 0 10px;
    margin:0 10px
}

.massage{
    background-color: #18181b;
    border-radius: 5px;
    margin:0 20px
}