.compnent{
    max-width: 800px;
    width: 100%;
    padding:20px;
    padding-bottom: 0;
}

.body{
    display:flex;
    flex-direction: row;
    padding: 0 20px;
}

.massage{
    max-width: 800px;
    width: 100%;
    padding:0 20px;

}
.massageTab{
  background-color: #18181b;
  padding:20px;
  border-radius: 5px;
  margin:20px 40px ;
  border: 2px solid #228be6;
}


@media only screen and (max-width:760px){
    .body{
        flex-direction: column;
        align-items: center;
    }
}
