<div class="container">

    <div class="options-container">
        <div class="options">
            <h3>Wählen Sie ein Template aus:</h3>
            <ul>
                <li> <button class="btn" (click)="changeSnippet('Advance')">Advance</button></li>
                <li> <button class="btn" (click)="changeSnippet('Investor')">Investor</button></li>
                <li> <button class="btn" (click)="changeSnippet('GeVestor')">GeVestor</button></li>


                <li> <button class="btn" (click)="changeSnippet('maxLQ')">maxLQ</button></li>
                <li> <button class="btn" (click)="changeSnippet('maxLQ-Magdalena')">maxLQ-Magdalena</button></li>
                <li>
                    <select aria-label="Default select">
                        <option value="1" (click)="changeSnippet('Investor-Webinar')"> Investor-Webinar</option>
                        <option value="2" (click)="changeSnippet('GeVestor-Webinar')"> GeVestor-Webinar</option>
                        <option value="3" (click)="changeSnippet('Reminder & Registrierung Investor')"> Reminder &
                            Registrierung Investor</option>
                        <option value="4" (click)="changeSnippet('Reminder & Registrierung GeVestor')"> Reminder &
                            Registrierung GeVestor</option>
                        <option value="5" (click)="changeSnippet('Nachfass-Mails-Investor')">Nachfass-Mails-Investor
                        </option>
                        <option value="6" (click)="changeSnippet('Nachfass-Mails-GeVestor')">Nachfass-Mails-GeVestor
                        </option>
                        <option value="6" (click)="changeSnippet('Nachfass-Mails-XXL-Webinar')">Nachfass-Mails
                            XXL-Webinar</option>
                        <option value="7" (click)="changeSnippet('HU-Mailings')">HU-Mailings</option>
                        <option value="8" (click)="changeSnippet('Abo-laufend-Investor')">Abo-laufend-Investor</option>
                        <option value="9" (click)="changeSnippet('Abo-laufend-GeVestor')">Abo-laufend-GeVestor</option>

                    </select>

                </li>


            </ul>
        </div>
        <div class="options" style="margin-top: 20px;">
            <h3><i class="fa-solid fa-circle-info"></i> Info</h3>
            {{infos}}
        </div>
    </div>

    <div class="codeAnzeige">
        <div class="textAreaHeader">
            <div>
                <h4>MJML</h4>
            </div>
            <div>
                <button class="btnCopy" (click)="copyToClipboard()">Kopieren</button>
            </div>
        </div>
        <app-editor [content]="code"></app-editor>

    </div>
</div>