.upload-btn {
  padding: 30px 10px;
  color: #a0a0b3;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: 10px;
  max-width: 600px;
  width: 100%;
  background-color: #18181b;
  border: none;
}

.upload-btn:hover {
  background-color: #555555;
}

.upload-container {
  transition: background-color 0.2s ease, border-color 0.2s ease;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  background-color: #18181b;
  border: 1px dashed #228be6;
  border-radius: 5px;
  position:relative;
}
.upload-btn.dragover{
  background-color: #555555 !important;
}
.upload-container.dragover {
  
  background-color: #555555 !important;
  border-color: #3f51b5 dashed 3px;
}

.btnClose{
  box-sizing: border-box;
  width: 20px !important;
  height: 20px!important;
  cursor: pointer;
  background:#555555;
  border:none;
  padding-right: 20px;
  padding-top: 5px;
  position: absolute;
  top:0;
  right: 0;
}